/* ============================================ */
/* ============================================ */
/* == Written by Jacob Bergdahl =============== */
/* ============================================ */
/* ============================================ */





/* ============================== */
/* == Base Styles =============== */
/* ============================== */

* {
  box-sizing: border-box;
}

body {
  color: #000;
  margin: 0;
  font: 1.1em/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif; 
  background: rgb(250, 250, 250);
}

h1,
h2,
h3 {
  font-family: Helvetica, Arial, sans-serif;
}

h1 {  
  font-family: 'Lobster', 'Book Antiqua', Palatino, 'Palatino Linotype', 'Palatino LT STD', Georgia, serif;
  font-size: 6.625rem;
  font-weight: normal;
  line-height: 1.3; 
  margin: 12px 0 0;
  /* text-shadow: 0px 1px 1px rgba(0,0,0,.8); */
}

h2 {
  font-family: 'Lobster Two', Helvetica, Arial, sans-serif;
  font-size: 2em;
  font-weight: normal;
  margin: 0 0 .5em;
}

h3 {
  font-size: 1.3em;
  line-height: 1.2;
  font-weight: normal;
}

/* ============================== */
/* == Links (pseudo) ============ */
/* ============================== */

a:link {
  color: #7D4200;
  text-decoration: underline;
}

a:visited {
  color: #7D4200;
}

a:hover {
  color: #C96A00;
}

a:active {
  color: #C96A00;
}

.header-links a:link,
.header-links a:visited {
  font-family: 'Grand Hotel', Georgia, serif;
  text-decoration: none;  
}

.header-links a:hover {
  color: #FF9116;  
}

#header-icon-linkedin:hover {
  opacity: 0.6;
}

/* ============================== */
/* == Main Styles =============== */
/* ============================== */

#menu {
  display: none;
}

.main-content-margins {
  margin: 30px 0px;
}

#main-header,
#main-footer,
.indented,
#portfolio-content {
	padding-left: 20%;
	padding-right: 20%;
}

.top-border {
  border-top: 2px solid #FF9116;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-left: 20%;
  margin-right: 20%;
}

.img-filler {
  width: 90px;
  margin-top: 25px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.highlight {
  color: #FF9116;
  font-weight: bold;
}

/* */

#main-header {
  padding-top: 100px;
	height: 400px;
	background: linear-gradient(0deg, rgb(250, 250, 250), transparent),
		url('../img/header.jpg') top no-repeat;
	background-size: cover;
}

#profile-picture {
  width: 150px;
  height: 150px;
  border-radius: 150px;
  background-image: url('../img/jacob.jpg');
  background-position: top;
  background-size: 150px;
  background-repeat: no-repeat;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  float: left;
  margin-right: 20px;
  /* box-shadow: 4px 4px 5px rgba(0,0,0,.8); */
  border: 1px solid black;
}

#header-subtitle,
#header-section-links {
  font-family: 'Grand Hotel',Georgia,serif;
  font-size: 1.7rem;
  line-height: 1.2em;
  margin-left: 1px;
}

#header-section-links {
  margin-left: 3px;
}

#header-icon-linkedin {
  width: 30px;
  height: auto;
  margin-left: 20px;
}

#header-link-linkedin {
  display: none;
}

#header-title,
#header-section-links,
#header-section-links {
  display: inline-block;
}

#header-title {
  margin-top: 0px;
  font-size: 3.3em;
}

#summary {
  text-align: center;
  font-size: 1.25em;
}

#portfolio-content-intro {
  min-height: 530px;
}

#main-footer {
  margin-top: 50px;
  padding-top: 100px;
	height: 700px;
	background: linear-gradient(0deg, transparent, rgb(250, 250, 250)),
		url('../img/header.jpg') bottom no-repeat;
	background-size: cover;
}

#main-footer {
  text-align: center;
}

.anchors {
    display: block;
    position: relative;
    top: -50px;
    visibility: hidden;
}

/* == Sub-section for screenshots =============== */

#main-screenie {
  width: auto;
  height: 530px;
  float: left;
  margin-left: 10%;
  margin-right: 15px;
}

.screenie, 
.screenie-computer {
  position: relative;
  width: 17%; /* Alt. is to replace with a static 150px */
  height: auto;
  box-shadow: 0px 0px 10px 4px rgba(0,0,0,0.5);
  margin-top: 10px;
}

.screenie-computer {
  width: 300px;
}

.screenie-secondary {
  margin-left: -50px;
}

.screenie-secondary-computer {
  margin-left: -120px;
}

.screenie:hover, 
.screenie-computer:hover {
  z-index: 100;
  cursor: pointer;
}

.s1 {
  z-index: 10;
}

.s2 {
  z-index: 9;
}

.s3 {
  z-index: 8;
}

.s4 {
  z-index: 7;
}

.s5 {
  z-index: 6;
}

.s6 {
  z-index: 5;
}

.s7 {
  z-index: 4;
}

.s8 {
  z-index: 3;
}

.s9 {
  z-index: 2;
}

.s10 {
  z-index: 1;
}

/* ============================== */
/* == Media queries ============= */
/* ============================== */
/* == Oh, there's a lot. ======== */
/* ============================== */

@media (min-width: 1980px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 25%;
    padding-right: 25%;
  }
  
  .top-border {
    margin-left: 25%;
    margin-right: 25%;
  }
  
  #main-screenie {
    margin-left: 18%;
  }
}

@media (min-width: 1400px) {
  #header-subtitle,
  #header-section-links {
    font-size: 1.8rem;
  }
}

@media (max-width: 1330px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 15%;
    padding-right: 15%;
  }
  
  .top-border {
    margin-left: 15%;
    margin-right: 15%;
  }
}

@media (max-width: 1140px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 10%;
    padding-right: 10%;
  }
  
  .top-border {
    margin-left: 10%;
    margin-right: 10%;
  }
  
  #header-subtitle,
  #header-section-links {
    font-family: 'Grand Hotel',Georgia,serif;
    font-size: 1.4rem;
    line-height: 1.2em;
    margin-left: 0px;
  }
}

@media (max-width: 853px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 5%;
    padding-right: 5%;
  }
  
  .top-border {
    margin-left: 5%;
    margin-right: 5%;
  }
  
  #profile-picture {
    float: none;
    margin: auto;
    width: 250px;
    height: 250px;
    border-radius: 250px;
    background-size: 250px;
    -webkit-border-radius: 250px;
    -moz-border-radius: 250px;
  }
  
  #main-header {
    padding-top: 70px;
    text-align: center;
    height: 550px;
  }
  
  .screenie, .screenie-computer {
    width: 150px;
  }

  
  #main-screenie {
    height: 400px;
    margin-left: 2%;
    margin-bottom: 1%;
  }
  
  .s5, .s6, .s7, .s8, .s9, .s10 {
    display: none;
  }
  
  .screenie-secondary-computer {
    display: none;
  }
  
  #header-subtitle,
  #header-section-links {
    font-size: 1.5rem;
    line-height: 1.2em;
    margin-left: 0px;
  }
  
  h1 {
    margin: 8px 0 0;
  }
  
  #menu {
    display: inline;
    position: fixed;
    background: rgb(255,145,22);
    width: 100%;
    height: 40px;
    box-shadow: 0px 4px 8px rgba(0,0,0,.5);
    display: flex;
    text-align: center;
    vertical-align: middle;
    z-index: 1000;
  }
  
  #menu a:link,
  #menu a:hover,
  #menu a:visited,
  #menu a:active {
    color: #000;
    text-decoration: none;
    font-family: 'Lobster Two', 'Grand Hotel',Georgia,serif;
    font-size: 1.7rem;
  }
  
  .menu-item {
    width: 25%;
    height: 100%;
    margin: auto;
  }
  
  .menu-item-border {
    border-right: 1px solid black;
  }
  
  .menu-item:hover {
    background: rgb(255,200,138);
  }
  
  .menu-item:active {
    background: rgb(255,145,22);
  }
}

@media (max-width: 560px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 3%;
    padding-right: 3%;
  }
  
  .top-border {
    margin-left: 3%;
    margin-right: 3%;
  }
  
  #profile-picture {
    width: 150px;
    height: 150px;
    border-radius: 150px;
    background-size: 150px;
    -webkit-border-radius: 150px;
    -moz-border-radius: 150px;
  }
  
  #main-header {
    padding-top: 60px;
    height: 410px;
  }
  
  #main-screenie {
    height: 300px;
  }
  
  #summary {
    font-size: 1.2em;
  }
  
  h1 {
    margin: 6px 0 0;
  }
  
  #menu a:link,
  #menu a:hover,
  #menu a:visited,
  #menu a:active {
    font-size: 1.5rem;
  }
}

@media (max-width: 512px) {
  #main-header,
  #main-footer,
  .indented,
  #portfolio-content {
    padding-left: 2%;
    padding-right: 2%;
  }
  
  .top-border {
    margin-left: 2%;
    margin-right: 2%;
  }
  
  #profile-picture {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background-size: 100px;
    -webkit-border-radius: 100px;
    -moz-border-radius: 100px;
  }
  
  #main-header {
    padding-top: 55px;
    height: 400px;
  }
  
  #main-screenie {
    display: none;
  }
  
  .s4, .s3 {
    display: none;
  }
  
  .screenie-secondary-computer {
    display: none;
  }
  
  #summary {
    font-size: 1em;
  }
  
  #header-icon-linkedin {
    display: none;
  }
  
  #header-link-linkedin {
    display: inline;
    font-size: 1.4rem;
    line-height: 1em;
  }
  
  h1 {
    margin: 2px 0 0;
  }
}

@media (max-width: 400px) {
  #menu a:link,
  #menu a:hover,
  #menu a:visited,
  #menu a:active {
    font-size: 1.2rem;
  }
  
  #header-title {
    font-size: 3rem;
  }
}